.container {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 2px solid #919295;
  border-radius: 8px;
  background: #f3f3f3;
  z-index: 4;
  padding: 12px 24px;
  transition: background .1s linear, color .1s linear;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive;
}
.container:hover,
.container:active {
  background: #c6c6c6;
  box-shadow: inset 8px 8px 3px -3px rgba(0,0,0,0.2);
}

