@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #fffaea;
  max-width: 100vw;
  overflow: hidden;
  font-family: 'Roboto Mono', sans-serif;
  color: #4b4b4b;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
