.container {
  width: 35%;
  background: transparent;
  text-align: center;
  height: 100%;
  line-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.text {
  font-size: 16px;
}

.value {
  font-family: 'Press Start 2P', cursive;
}
.warn {
  background: #fb3737;
  color: #511010;
}

@media (max-width: 480px) {
  .container {
    width: 30%;
  }
}

