.danger {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: space-evenly;
  align-items: center;
}

.danger span {
  margin-top: -4px;
  font-size: 2em;
}

.danger p {
  font-size: 1.5em;
}

.closeBtn {
  align-self: flex-end;
  justify-self: flex-start;
  text-transform: uppercase;
}

.closeBtn:hover{
  color: #4B4B4BA9;
  text-shadow: -2px -2px 0 #484848;
}

.difficulty {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.btnGroup {
  display: flex;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  line-height: 200%;
  border: 2px solid #919295 ; /* Green border */
  padding: 12px 24px;
  cursor: pointer;
}
.btn:not(:last-child) {
  border-right: none;
}

.btn:hover,
.active {
  background: #5B5B5BA9;
  box-shadow: inset 8px 8px 3px -3px rgba(0,0,0,0.2);
  color: #fafafa;
}

.reset {
  border: 2px solid #919295;
  padding: 12px 24px;
  border-radius: 4px;
}

.reset:hover {
  border-color: #511010;
  background: #fb3737;
  color: #511010;
}

.reset:active {
  color: #4B4B4BA9;
  text-shadow: -2px -2px 0 #fafafa;
  background: #511010;
}
